<%= form_for @user, :url => url_for(:controller => 'users', :action => 'create_credentials') do |f| %>
  <%= render :partial => 'shared/error_messages', :locals => {:object => @user} %>
  <%= hidden_field_tag :token, @ack.token%>
  <div>
    <%= f.label :password%><br/>
    <%= f.password_field :password, :autocomplete => "off" %>
  </div>
  <div>
    <%= f.label :password_confirmation%><br/>
    <%= f.password_field :password_confirmation, :autocomplete => "off" %>
  </div>
  <div>
    <%= f.submit "Sign up"%>
  </div>
<% end %>