<h2>Tasks</h2>
<%= link_to "new task", new_project_task_path(@project)%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |t| %>
      <tr>
        <td>
          <%= link_to t.name, project_task_path(@project, t)%>
        </td>
        <td>
          <%= t.user.user_profile.firstname || t.user.email if t.user%>
        </td>
        <td>
          <%= t.fulfil_status%>
        </td>
        <td>
          <%= crud_links([{:index => 'edit', :path => edit_project_task_path(@project, t)},
                          {:index => 'delete', :path => project_task_path(@project, t)}]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>