<h1>My projects</h1>
<strong><%= link_to "new project", new_user_project_path(current_user) %></strong>
<table class='listing'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th>Realm</th>
      <th>&nbsp;<th>
    </tr>
  </thead>
  <tbody>
<% @projects.each do |p| %>
    <tr>
      <td>
        <%= link_to p.name, user_project_path(current_user, p) %>
      </td>
      <td>
        <%= link_to p.product.name, user_product_path(current_user, p.product) %>
      </td>
      <td>
        <%= link_to p.product.realm.name, user_realm_path(current_user, p.product.realm) %>
      </td>
      <td>
        <%= crud_links([{:index => 'edit', :path => edit_user_project_path(current_user, p)},
                        {:index => 'delete', :path => user_project_path(current_user, p)}]) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>