<% submit_label = @product.new_record? ? "create" : "update" %>
<div class='form_container'>
  <div class='form_margins'>
    <%= form_for @product, :url => polymorphic_path([current_user, @product]) do |f| %>
      <div class='form_body'>
        <table>
          <tr>
            <td>
              Select a realm
            </td>
            <td>
              <% 
                options = @realms.collect{|r| [r.name, r.id] }
                options = options_for_select(options, @preselected_realm.id) if @preselected_realm  
              %>
              <%= f.select 'realm_id', options %>
            </td>
          </tr>
          <tr>
            <td>
              <%= f.label :name %>
            </td>
            <td>
              <%= f.text_field :name %>
            </td>
          </tr>
          <tr>
            <td>
              Select members:
            </td>
            <td></td>
          </tr>
          <% 
            users_for_select = @realm.crowd
            users_for_select.each do |u|
          %>
          <tr>
            <td>
              <%= u.name %>
            </td>
            <td>
              <%= check_box_tag 'product[assigned_users][]', u.id, @product_members.include?(u) %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class='form_actions'>
        <%= f.submit submit_label %>
      </div>
    <% end %>
  </div>
</div>