<%= link_to "new product", new_user_product_path(current_user) %>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>realm</th>
      <th></th>
    </tr>
  </thead>
<% @products.each do |p| %>
  <tr>
    <td>
      <%= link_to p.name, realm_product_path(p.realm, p) %>
    </td>
    <td>
      <%= link_to p.realm.name, user_realm_path(current_user, p.realm) %>
    </td>
    <td>
      <% edit_path = @user.nil? ? edit_project_path(p) : edit_user_project_path(current_user, p) %>
      <% delete_path = @user.nil? ? project_path(p) : user_project_path(current_user, p) %>
      <%= link_to "edit", edit_user_product_path(current_user, p) %>
      <%= link_to "delete", user_product_path(current_user, p), :method => :delete, :confirm => "Are you sure?"%>
    </td>
  </tr>
<% end %>
</table>