<%= resource_browser @product%>
<div class='h1'>
  <span>showing product:</span><h1><%= " #{@product.name}"%></h1>
</div>
<h2>Projects</h2>
<strong><%= link_to "new project", new_product_project_path(@product)%></strong>
<table class='listing'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |p| %>
      <tr>
        <td>
          <%= link_to p.name, product_project_path(@product, p)%>
        </td>
        <td>
          <%= "(#{p.organisation_type})"%>
        </td>
        <td>
          <%= crud_links([{:index => 'edit', :path => edit_product_project_path(@product, p)},
                          {:index => 'delete', :path => product_project_path(@product, p)}]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= parent_link @product %>
</p>