<% submit_label = @acceptance_test.new_record? ? "create" : "update" %>
<%= form_for @acceptance_test, :url => polymorphic_url([@user_story, @acceptance_test]) do |f|%>
  <table>
    <tbody>
      <tr>
        <td><%= f.label :fulfilled %></td>
        <td><%= f.check_box :fulfilled %></td>
      </tr>
      <tr>
        <td><%= f.label :description %></td>
        <td><%= f.text_area :description %></td>
      </tr>
    </tbody>
  </table>
  <%= f.submit submit_label %>
<% end %>